.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.2rem solid rgba(1, 35, 70, 0.55);
  background-color: white;
  /* justify-content: center; */
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(5, 56, 107, 0.7);
  transform: scale(1.002, 1);
  transition: transform 150ms;
}
.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #012346;
  color: white;
}
.choice-text {
  padding: 1.5rem;
}
