@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-size: 10px;
  font-family: "Recursive", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.main-nav {
  width: 100%;
  height: 10rem;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-family: "Lato", sans-serif;
}
